In [32]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [33]:
start_date = '2005-01-01'
end_date = '2023-02-01'

In [34]:
ticker = 'SPY'
df = yf.download(ticker, start_date, end_date)

[*********************100%%**********************]  1 of 1 completed

In [35]:
df.head()

                  Open        High         Low       Close  Adj Close    Volume
Date
2005-01-03  121.559998  121.760002  119.900002  120.300003  83.364372  55748000
2005-01-04  120.459999  120.540001  118.440002  118.830002  82.345711  69167600
2005-01-05  118.739998  119.250000  118.000000  118.010002  81.777466  65667300
2005-01-06  118.440002  119.150002  118.260002  118.610001  82.193230  47814700
2005-01-07  118.970001  119.230003  118.129997  118.440002  82.075439  55847700

In [36]:
#convert.index to date get rid of time stamps
df.index = df.index.date
df.head()

                  Open        High         Low       Close  Adj Close    Volume
2005-01-03  121.559998  121.760002  119.900002  120.300003  83.364372  55748000
2005-01-04  120.459999  120.540001  118.440002  118.830002  82.345711  69167600
2005-01-05  118.739998  119.250000  118.000000  118.010002  81.777466  65667300
2005-01-06  118.440002  119.150002  118.260002  118.610001  82.193230  47814700
2005-01-07  118.970001  119.230003  118.129997  118.440002  82.075439  55847700

Compute the Daily returns of the item

In [37]:
df['R'] = df['Adj Close'].pct_change()
df.head(3)

                  Open        High         Low  ...  Adj Close    Volume         R
2005-01-03  121.559998  121.760002  119.900002  ...  83.364372  55748000       NaN
2005-01-04  120.459999  120.540001  118.440002  ...  82.345711  69167600 -0.012219
2005-01-05  118.739998  119.250000  118.000000  ...  81.777466  65667300 -0.006901

[3 rows x 7 columns]